:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

body {
    background-image: url("images/etch-a-sketch-background.jpg");
    background-color: orange;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerRed {
    width: 500px;
    height: 500px;
    border-width: 0px 100px 0px 100px;
    border-color:rgba(197, 5, 5, 0.87);
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.square {
    background-color: rgb(202, 196, 196);
    border: 1px solid white;
}

.containerRedTop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    width: 700px;
    height: 100px;
    background-color: rgba(197, 5, 5, 0.87);;
    border-radius: 30px 30px 0px 0px;
}

.magic,.screen {
    font-size: 30px;
    font-weight: bold;
}
.magic {
    margin-right: 20px;
}
.screen {
    margin-left: 20px;
}
.eas {
    font-size: 60px;
}

.containerRedBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    background-color: rgba(197, 5, 5, 0.87);
    border-radius: 0px 0px 30px 30px;
}

.squareBtnContainer {
    display: flex;
    gap: 20px;
}

button {
    height: 30px;
    width: 70px;
    color: black;
    font-weight: 900;
    border-radius: 5px;
    background-color: rgb(202, 196, 196);
}

.squareBtn16,.squareBtn32,.squareBtn64 {

}

.colorBtnContainer {
    display: flex;
    gap: 20px;
}

.shadeBtn,.randomRgbBtm,.eraserBtm,.eraserBtm {

}