:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

body {
    background-image: url("images/etch-a-sketch-background.jpg");
    background-color: orange;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerRed {
    width: 500px;
    height: 500px;
    border-width: 0px 100px 0px 100px;
    border-color:rgb(197, 5, 5);
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.square {
    background-color: rgb(202, 196, 196);
}

.containerRedTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gold;
    width: 700px;
    height: 100px;
    background-color: rgb(197, 5, 5);
    border-radius: 30px 30px 0px 0px;
}

.containerRedTopText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 90px;
    background-color: rgb(197, 5, 5);
    border-radius: 30px 30px 0px 0px;
}

.magic,.screen,.eas {
    font-family: sans-serif;
    text-shadow: 0px 2px rgb(200, 155, 0);
}

.magic,.screen {
    font-size: 35px;
    font-weight: 900;
}
.magic {
    margin-right: 20px;
}
.screen {
    margin-left: 20px;
}
.eas {
    font-size: 50px;
    font-weight: bold;
}

.containerRedTopShadow {
    width: 500px;
    height: 10px;
    background-color: rgb(153, 3, 3);
}

.containerRedBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    background-color: rgb(197, 5, 5);
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 10px 0px 0px rgb(153, 3, 3);
}

.squareBtnContainer {
    display: flex;
    gap: 15px;
}

button {
    height: 30px;
    width: 70px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(202, 196, 196);
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 3px #999;
}
button:hover {background-color: rgb(179, 173, 173)}

button:active,
button:focus {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.colorBtnContainer {
    display: flex;
    gap: 15px;
}